@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
    font-weight: normal;
}

* {
    margin: 0;
}

:root {
    --cor01: #C5EBD6;
    --cor02: #83E1AD; 
    --cor03: #3DDC84; 
    --cor04: #2FA866; 
    --cor05: #063D1E;
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', Arial;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: bisque;
    font-family: var(--fonte-padrão);
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, var(--cor05), var(--cor04), var(--cor03));
}

header h1 {
    margin: 20px auto 10px auto;
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
}

header p {
    margin: 10px auto 20px auto;
    max-width: 500px;
    text-align: center;
    color: white;
}

nav {
    height: 33px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--cor05);
}

nav a {
    padding: 5px;
    font-size: 0.95em;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 3px;
}

nav a:hover {
    color: black;
    background-color: var(--cor02);
    transition: 0.3s;
}

nav a:active {
    color: black;
    background-color: var(--cor01);
}

main {
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
}

main article {
    background-color: white;
    padding: 15px;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor05);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-weight: normal;
    font-size: large;
    font-family: var(--fonte-android);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main strong {
    color: var(--cor05);
    font-weight: bold;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor02);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main .small-img {
    display: block;
    max-width: 350px;
    margin: auto;
}

main .responsive-video {
    position: relative;
    background-color: var(--cor05);
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 56.25%;
}

main .responsive-video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main aside {
    background-image: linear-gradient(to top, var(--cor03), var(--cor02));
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    
}

main aside > h3 {
    color: white;
    background-color: var(--cor05);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 10px;
}

main aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: var(--cor05);
    text-decoration: none;
}

footer > p {
    text-align: center;
}

footer > p > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}